{% extends "layout.html" %}

{% set title = "Which exemptions are needed for this waste operation?" %}

{% block page_title %}
    {{title}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_prototype.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
		      {{title}}
	    </h1>


      <p>

      </p>


      <form method="post" action="{{formAction}}">
        <div class="form-group">
            <input type="submit" class="button" value="Start now">
        </div>
      </form>

      <p>Link</p>

    </div>
  </div>
</main>

{% endblock %}
