{% extends "layout.html" %}

{% set title = "Which exemptions are needed for this waste operation?" %}

{% block page_title %}
    {{title}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_prototype.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
		      {{title}}
	    </h1>

      <form method="post" action="{{formAction}}">

        <div class="form-group">
          <fieldset>

            <legend>
              <h2>Select all the waste exemptions you need to add to the registration</h2>
            </legend>

            {% from "./json/exemption-json.html" import exemptions %}

            {% for exCode, exData in exemptions %}

                <div class="multiple-choice">
                  <input id="{{ exCode }}" name="Exemptions" type="checkbox" value="{{ exCode }}">
                  <label for="{{ exCode }}">{{ exCode }} {{ exData.Title }}</label>
                </div>

            {% else %}
              <p>No data</p>
            {% endfor %}


          </fieldset>
        </div>


        <div class="form-group">
            <input type="submit" class="button" value="Start now">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
