{% extends "layout.html" %}

{% set title = "What we'd like you to do" %}

{% block page_title %}
    {{title}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_prototype.html" %}
  
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
		      {{title}}
	    </h1>
      

      <p>
      Imagine you are applying online for the type of standard rules permit you have, or the last one you applied for.
      </p>
      <p>
      Try finding the permit you have or applied for using the pages that follow.
      </p>
      <p>
      This should take you about 5 minutes.
      </p>

      
      <form method="post" action="{{formAction}}">
        <div class="form-group">
            <input type="submit" class="button" value="Start now">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
