{% extends "layout.html" %}

{% set title = "Almost done" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_prototype.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">


      <h1 class="heading-large">{{title}}</h1>
      
      <p>&nbsp;</p>
      

      <p><a href="https://www.smartsurvey.co.uk/s/TELLUS/?surveydata={{qS}}">Finally, please leave us some comments</a></p>


      
    </div>
  </div>

</main>

{% endblock %}
