{% extends "layout.html" %}

{% set title = "Thanks, you're almost done" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_prototype.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">


      <h1 class="heading-large">{{title}}</h1>
      
      <p>We just need one more minute of your time.</p>

      <p><a class="button" href="{{surveyURL}}{{qS}}">Continue</a></p>
      
    </div>
  </div>

</main>

{% endblock %}
